<div>
<h1 class="display-4">HackerNews Coding Challenge</h1>
<p>This is coding challenge response for HackerNews API Implmentation using the followings:</p>
<ul>
  <li><a href='https://get.asp.net/'>ASP.NET Core</a> version 3.0 and <a href='https://msdn.microsoft.com/en-us/library/67ef8sbd.aspx'>C#</a> for cross-platform server-side code</li>
  <li><a href='https://angular.io/'>Angular</a> and <a href='http://www.typescriptlang.org/'>TypeScript</a> for client-side code</li>
  <li><a href='http://getbootstrap.com/'>Bootstrap</a> for layout and styling</li>
</ul>
</div>

